{% extends 'core/base.html' %}
{% block title %}Convert Text{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center" style="color: #007BFF;">Convert to Audio</h2>
                    <form method="post" enctype="multipart/form-data" aria-label="Text to Audio Conversion Form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">Convert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}