{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-lg text-center">
                <div class="card-body">
                    <h1 class="display-4" style="color: #007BFF;">Welcome to ReadNote</h1>
                    <p class="lead">Convert your text or PDFs to English or Pidgin audio!</p>
                    {% if user.is_authenticated %}
                        <p>Hello, {{ user.username }}! Ready to convert some text?</p>
                        <a href="{% url 'convert_text' %}" class="btn btn-primary">Get Started</a>
                    {% else %}
                        <p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a> to get started.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}